{% assign today = "now" | date: "%s" | plus: trmnl.user.utc_offset | date: "%Y-%m-%d" %}
{% assign tomorrow = "now" | date: "%s" | plus: trmnl.user.utc_offset | plus: 86400 | date: "%Y-%m-%d" %}
{% assign third_day = "now" | date: "%s" | plus: trmnl.user.utc_offset | plus: 172800 | date: "%Y-%m-%d" %}
{% assign fourth_day = "now" | date: "%s" | plus: trmnl.user.utc_offset | plus: 259200 | date: "%Y-%m-%d" %}
{% assign current_hour = "now" | date: "%s" | plus: trmnl.user.utc_offset | date: "%H" %}

{% case current_hour %}
{% when "00" %}
{% assign today_hours_to_show = "00,03,06,09,12,15,18,21" %}
{% when "01" %}
{% assign today_hours_to_show = "01,04,07,10,13,16,19,22" %}
{% when "02" %}
{% assign today_hours_to_show = "02,05,08,11,14,17,20,23" %}
{% when "03" %}
{% assign today_hours_to_show = "03,05,08,11,14,17,20,23" %}
{% when "04" %}
{% assign today_hours_to_show = "04,06,08,11,14,17,20,23" %}
{% when "05" %}
{% assign today_hours_to_show = "05,06,07,10,13,16,19,22" %}
{% when "06" %}
{% assign today_hours_to_show = "06,07,08,11,14,17,20,23" %}
{% when "07" %}
{% assign today_hours_to_show = "07,09,11,13,15,17,19,21" %}
{% when "08" %}
{% assign today_hours_to_show = "08,10,12,14,16,18,20,22" %}
{% when "09" %}
{% assign today_hours_to_show = "09,11,13,15,17,19,21,23" %}
{% when "10" %}
{% assign today_hours_to_show = "10,11,13,15,17,19,21,23" %}
{% when "11" %}
{% assign today_hours_to_show = "11,12,13,15,17,19,21,23" %}
{% when "12" %}
{% assign today_hours_to_show = "12,13,14,15,17,19,21,23" %}
{% when "13" %}
{% assign today_hours_to_show = "13,14,15,16,17,19,21,23" %}
{% when "14" %}
{% assign today_hours_to_show = "14,15,16,17,18,19,20,21" %}
{% when "15" %}
{% assign today_hours_to_show = "15,16,17,18,19,20,21,22" %}
{% when "16" %}
{% assign today_hours_to_show = "16,17,18,19,20,21,22,23" %}
{% when "17" %}
{% assign today_hours_to_show = "17,18,19,20,21,22,23" %}
{% when "18" %}
{% assign today_hours_to_show = "18,19,20,21,22,23" %}
{% when "19" %}
{% assign today_hours_to_show = "19,20,21,22,23" %}
{% when "20" %}
{% assign today_hours_to_show = "20,21,22,23" %}
{% when "21" %}
{% assign today_hours_to_show = "21,22,23" %}
{% when "22" %}
{% assign today_hours_to_show = "22,23" %}
{% when "23" %}
{% assign today_hours_to_show = "23" %}
{% else %}
{% assign today_hours_to_show = "00,03,06,09,12,15,18,21" %}
{% endcase %}
{% assign today_hours_to_show = today_hours_to_show | split: "," %}
{% assign tomorrow_hours_to_show = "00,03,06,09,12,15,18,21" %}
{% assign nextday_hours_to_show = "00,06,12,18" %}

{% template header %}
<span class="label label--small label--inverted group-header w--full" data-group-header="true">{{ title }}</span>
{% endtemplate %}

{% template item %}
{% if size == "small" %}
{% assign content_class = "content" %}
{% else %}
{% assign content_class = "content pb--1" %}
{% endif %}

<div class="item">
  <div class="meta w--6">
    <span class="index">{{ index }}</span>
  </div>

  <div class="{{ content_class }}" data-code="{{ symbol_code }}">
    <div class="flex flex--center-y gap--xsmall">
      <img class="weather-icon" />

      <div>
        <span class="title title--small">{{ air_temperature }}°</span><br>
        <span class="label label--small" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
          {{ wind_speed }}{{ units.wind_speed }}
          ·
          {% if precipitation_amount > 0 %}
          {{ precipitation_amount }}{{ units.precipitation_amount }}
          ·
          {% endif %}
          <span class="weather-description"></span>
        </span>
      </div>
    </div>
  </div>
</div>
{% endtemplate %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const weather = {
      clearsky_day: {
        icon: 'wi-day-sunny.svg',
        en: 'Clear sky',
        et: 'Selge taevas',
        fi: 'Selkeää',
        no: 'Klar himmel',
        sv: 'Klar himmel',
        it: 'Cielo sereno'
      },
      clearsky_night: {
        icon: 'wi-night-clear.svg',
        en: 'Clear sky',
        et: 'Selge taevas',
        fi: 'Selkeää',
        no: 'Klar himmel',
        sv: 'Klar himmel',
        it: 'Cielo sereno'
      },
      clearsky_polartwilight: {
        icon: 'wi-day-sunny.svg',
        en: 'Clear sky',
        et: 'Selge taevas',
        fi: 'Selkeää',
        no: 'Klar himmel',
        sv: 'Klar himmel',
        it: 'Cielo sereno'
      },
      cloudy: {
        icon: 'wi-cloudy.svg',
        en: 'Cloudy',
        et: 'Pilves',
        fi: 'Pilvistä',
        no: 'Overskyet',
        sv: 'Mulet',
        it: 'Nuvoloso'
      },
      fair_day: {
        icon: 'wi-day-sunny-overcast.svg',
        en: 'Fair weather',
        et: 'Selge ilm',
        fi: 'Kaunis sää',
        no: 'Pent vær',
        sv: 'Vackert väder',
        it: 'Bel tempo'
      },
      fair_night: {
        icon: 'wi-night-partly-cloudy.svg',
        en: 'Fair weather',
        et: 'Selge ilm',
        fi: 'Kaunis sää',
        no: 'Pent vær',
        sv: 'Vackert väder',
        it: 'Bel tempo'
      },
      fair_polartwilight: {
        icon: 'wi-day-sunny-overcast.svg',
        en: 'Fair weather',
        et: 'Selge ilm',
        fi: 'Kaunis sää',
        no: 'Pent vær',
        sv: 'Vackert väder',
        it: 'Bel tempo'
      },
      fog: {
        icon: 'wi-fog.svg',
        en: 'Fog',
        et: 'Udu',
        fi: 'Sumua',
        no: 'Tåke',
        sv: 'Dimma',
        it: 'Nebbia'
      },
      heavyrain: {
        icon: 'wi-rain.svg',
        en: 'Heavy rain',
        et: 'Tugev vihm',
        fi: 'Kova sade',
        no: 'Kraftig regn',
        sv: 'Kraftigt regn',
        it: 'Pioggia intensa'
      },
      heavyrainandthunder: {
        icon: 'wi-thunderstorm.svg',
        en: 'Heavy rain and thunder',
        et: 'Tugev vihm ja äike',
        fi: 'Kova sade ja ukkonen',
        no: 'Kraftig regn og torden',
        sv: 'Kraftigt regn och åska',
        it: 'Pioggia intensa e tuoni'
      },
      heavyrainshowers_day: {
        icon: 'wi-day-rain.svg',
        en: 'Heavy rain showers',
        et: 'Tugev hoovihm',
        fi: 'Kovia sadekuuroja',
        no: 'Kraftige regnbyger',
        sv: 'Kraftiga regnskurar',
        it: 'Rovesci di pioggia intensa'
      },
      heavyrainshowers_night: {
        icon: 'wi-night-alt-rain.svg',
        en: 'Heavy rain showers',
        et: 'Tugev hoovihm',
        fi: 'Kovia sadekuuroja',
        no: 'Kraftige regnbyger',
        sv: 'Kraftiga regnskurar',
        it: 'Rovesci di pioggia intensa'
      },
      heavyrainshowers_polartwilight: {
        icon: 'wi-day-rain.svg',
        en: 'Heavy rain showers',
        et: 'Tugev hoovihm',
        fi: 'Kovia sadekuuroja',
        no: 'Kraftige regnbyger',
        sv: 'Kraftiga regnskurar',
        it: 'Rovesci di pioggia intensa'
      },
      heavyrainshowersandthunder_day: {
        icon: 'wi-day-thunderstorm.svg',
        en: 'Heavy rain showers and thunder',
        et: 'Tugev hoovihm ja äike',
        fi: 'Kovia sadekuuroja ja ukkonen',
        no: 'Kraftige regnbyger og torden',
        sv: 'Kraftiga regnskurar och åska',
        it: 'Rovesci di pioggia intensa e tuoni'
      },
      heavyrainshowersandthunder_night: {
        icon: 'wi-night-alt-thunderstorm.svg',
        en: 'Heavy rain showers and thunder',
        et: 'Tugev hoovihm ja äike',
        fi: 'Kovia sadekuuroja ja ukkonen',
        no: 'Kraftige regnbyger og torden',
        sv: 'Kraftiga regnskurar och åska',
        it: 'Rovesci di pioggia intensa e tuoni'
      },
      heavyrainshowersandthunder_polartwilight: {
        icon: 'wi-day-thunderstorm.svg',
        en: 'Heavy rain showers and thunder',
        et: 'Tugev hoovihm ja äike',
        fi: 'Kovia sadekuuroja ja ukkonen',
        no: 'Kraftige regnbyger og torden',
        sv: 'Kraftiga regnskurar och åska',
        it: 'Rovesci di pioggia intensa e tuoni'
      },
      heavysleet: {
        icon: 'wi-sleet.svg',
        en: 'Heavy sleet',
        et: 'Tugev lörts',
        fi: 'Kovaa räntää',
        no: 'Kraftig sludd',
        sv: 'Kraftigt slask',
        it: 'Nevischio intenso'
      },
      heavysleetandthunder: {
        icon: 'wi-sleet.svg',
        en: 'Heavy sleet and thunder',
        et: 'Tugev lörts ja äike',
        fi: 'Kovaa räntää ja ukkonen',
        no: 'Kraftig sludd og torden',
        sv: 'Kraftigt slask och åska',
        it: 'Nevischio intenso e tuoni'
      },
      heavysleetshowers_day: {
        icon: 'wi-day-sleet.svg',
        en: 'Heavy sleet showers',
        et: 'Tugevad lörtsihood',
        fi: 'Kovia räntäkuuroja',
        no: 'Kraftige sluddbyger',
        sv: 'Kraftiga slaskskurar',
        it: 'Rovesci di nevischio intenso'
      },
      heavysleetshowers_night: {
        icon: 'wi-night-alt-sleet.svg',
        en: 'Heavy sleet showers',
        et: 'Tugevad lörtsihood',
        fi: 'Kovia räntäkuuroja',
        no: 'Kraftige sluddbyger',
        sv: 'Kraftiga slaskskurar',
        it: 'Rovesci di nevischio intenso'
      },
      heavysleetshowers_polartwilight: {
        icon: 'wi-day-sleet.svg',
        en: 'Heavy sleet showers',
        et: 'Tugevad lörtsihood',
        fi: 'Kovia räntäkuuroja',
        no: 'Kraftige sluddbyger',
        sv: 'Kraftiga slaskskurar',
        it: 'Rovesci di nevischio intenso'
      },
      heavysleetshowersandthunder_day: {
        icon: 'wi-day-sleet-storm.svg',
        en: 'Heavy sleet showers and thunder',
        et: 'Tugevad lörtsihood ja äike',
        fi: 'Kovia räntäkuuroja ja ukkonen',
        no: 'Kraftige sluddbyger og torden',
        sv: 'Kraftiga slaskskurar och åska',
        it: 'Rovesci di nevischio intenso e tuoni'
      },
      heavysleetshowersandthunder_night: {
        icon: 'wi-night-alt-sleet-storm.svg',
        en: 'Heavy sleet showers and thunder',
        et: 'Tugevad lörtsihood ja äike',
        fi: 'Kovia räntäkuuroja ja ukkonen',
        no: 'Kraftige sluddbyger og torden',
        sv: 'Kraftiga slaskskurar och åska',
        it: 'Rovesci di nevischio intenso e tuoni'
      },
      heavysleetshowersandthunder_polartwilight: {
        icon: 'wi-day-sleet-storm.svg',
        en: 'Heavy sleet showers and thunder',
        et: 'Tugevad lörtsihood ja äike',
        fi: 'Kovia räntäkuuroja ja ukkonen',
        no: 'Kraftige sluddbyger og torden',
        sv: 'Kraftiga slaskskurar och åska',
        it: 'Rovesci di nevischio intenso e tuoni'
      },
      heavysnow: {
        icon: 'wi-snow.svg',
        en: 'Heavy snow',
        et: 'Tugev lumesadu',
        fi: 'Kova lumisade',
        no: 'Kraftig snø',
        sv: 'Kraftig snö',
        it: 'Neve intensa'
      },
      heavysnowandthunder: {
        icon: 'wi-snow.svg',
        en: 'Heavy snow and thunder',
        et: 'Tugev lumesadu ja äike',
        fi: 'Kova lumisade ja ukkonen',
        no: 'Kraftig snø og torden',
        sv: 'Kraftig snö och åska',
        it: 'Neve intensa e tuoni'
      },
      heavysnowshowers_day: {
        icon: 'wi-day-snow.svg',
        en: 'Heavy snow showers',
        et: 'Tugevad lumehood',
        fi: 'Kovia lumikuuroja',
        no: 'Kraftige snøbyger',
        sv: 'Kraftiga snöskurar',
        it: 'Rovesci di neve intensa'
      },
      heavysnowshowers_night: {
        icon: 'wi-night-alt-snow.svg',
        en: 'Heavy snow showers',
        et: 'Tugevad lumehood',
        fi: 'Kovia lumikuuroja',
        no: 'Kraftige snøbyger',
        sv: 'Kraftiga snöskurar',
        it: 'Rovesci di neve intensa'
      },
      heavysnowshowers_polartwilight: {
        icon: 'wi-day-snow.svg',
        en: 'Heavy snow showers',
        et: 'Tugevad lumehood',
        fi: 'Kovia lumikuuroja',
        no: 'Kraftige snøbyger',
        sv: 'Kraftiga snöskurar',
        it: 'Rovesci di neve intensa'
      },
      heavysnowshowersandthunder_day: {
        icon: 'wi-day-snow-thunderstorm.svg',
        en: 'Heavy snow showers and thunder',
        et: 'Tugevad lumehood ja äike',
        fi: 'Kovia lumikuuroja ja ukkonen',
        no: 'Kraftige snøbyger og torden',
        sv: 'Kraftiga snöskurar och åska',
        it: 'Rovesci di neve intensa e tuoni'
      },
      heavysnowshowersandthunder_night: {
        icon: 'wi-night-alt-snow-thunderstorm.svg',
        en: 'Heavy snow showers and thunder',
        et: 'Tugevad lumehood ja äike',
        fi: 'Kovia lumikuuroja ja ukkonen',
        no: 'Kraftige snøbyger og torden',
        sv: 'Kraftiga snöskurar och åska',
        it: 'Rovesci di neve intensa e tuoni'
      },
      heavysnowshowersandthunder_polartwilight: {
        icon: 'wi-day-snow-thunderstorm.svg',
        en: 'Heavy snow showers and thunder',
        et: 'Tugevad lumehood ja äike',
        fi: 'Kovia lumikuuroja ja ukkonen',
        no: 'Kraftige snøbyger og torden',
        sv: 'Kraftiga snöskurar och åska',
        it: 'Rovesci di neve intensa e tuoni'
      },
      lightrain: {
        icon: 'wi-sprinkle.svg',
        en: 'Light rain',
        et: 'Kerge vihm',
        fi: 'Heikko sade',
        no: 'Lett regn',
        sv: 'Lätt regn',
        it: 'Pioggia leggera'
      },
      lightrainandthunder: {
        icon: 'wi-storm-showers.svg',
        en: 'Light rain and thunder',
        et: 'Kerge vihm ja äike',
        fi: 'Heikko sade ja ukkonen',
        no: 'Lett regn og torden',
        sv: 'Lätt regn och åska',
        it: 'Pioggia leggera e tuoni'
      },
      lightrainshowers_day: {
        icon: 'wi-day-sprinkle.svg',
        en: 'Light rain showers',
        et: 'Kerge hoovihm',
        fi: 'Heikkoja sadekuuroja',
        no: 'Lette regnbyger',
        sv: 'Lätta regnskurar',
        it: 'Rovesci di pioggia leggera'
      },
      lightrainshowers_night: {
        icon: 'wi-night-alt-sprinkle.svg',
        en: 'Light rain showers',
        et: 'Kerge hoovihm',
        fi: 'Heikkoja sadekuuroja',
        no: 'Lette regnbyger',
        sv: 'Lätta regnskurar',
        it: 'Rovesci di pioggia leggera'
      },
      lightrainshowers_polartwilight: {
        icon: 'wi-day-sprinkle.svg',
        en: 'Light rain showers',
        et: 'Kerge hoovihm',
        fi: 'Heikkoja sadekuuroja',
        no: 'Lette regnbyger',
        sv: 'Lätta regnskurar',
        it: 'Rovesci di pioggia leggera'
      },
      lightrainshowersandthunder_day: {
        icon: 'wi-day-storm-showers.svg',
        en: 'Light rain showers and thunder',
        et: 'Kerge hoovihm ja äike',
        fi: 'Heikkoja sadekuuroja ja ukkonen',
        no: 'Lette regnbyger og torden',
        sv: 'Lätta regnskurar och åska',
        it: 'Rovesci di pioggia leggera e tuoni'
      },
      lightrainshowersandthunder_night: {
        icon: 'wi-night-alt-storm-showers.svg',
        en: 'Light rain showers and thunder',
        et: 'Kerge hoovihm ja äike',
        fi: 'Heikkoja sadekuuroja ja ukkonen',
        no: 'Lette regnbyger og torden',
        sv: 'Lätta regnskurar och åska',
        it: 'Rovesci di pioggia leggera e tuoni'
      },
      lightrainshowersandthunder_polartwilight: {
        icon: 'wi-day-storm-showers.svg',
        en: 'Light rain showers and thunder',
        et: 'Kerge hoovihm ja äike',
        fi: 'Heikkoja sadekuuroja ja ukkonen',
        no: 'Lette regnbyger og torden',
        sv: 'Lätta regnskurar och åska',
        it: 'Rovesci di pioggia leggera e tuoni'
      },
      lightsleet: {
        icon: 'wi-sleet.svg',
        en: 'Light sleet',
        et: 'Kerge lörts',
        fi: 'Heikko räntä',
        no: 'Lett sludd',
        sv: 'Lätt slask',
        it: 'Nevischio leggero'
      },
      lightsleetandthunder: {
        icon: 'wi-sleet.svg',
        en: 'Light sleet and thunder',
        et: 'Kerge lörts ja äike',
        fi: 'Heikko räntä ja ukkonen',
        no: 'Lett sludd og torden',
        sv: 'Lätt slask och åska',
        it: 'Nevischio leggero e tuoni'
      },
      lightsleetshowers_day: {
        icon: 'wi-day-sleet.svg',
        en: 'Light sleet showers',
        et: 'Kerged lörtsihood',
        fi: 'Heikkoja räntäkuuroja',
        no: 'Lette sluddbyger',
        sv: 'Lätta slaskskurar',
        it: 'Rovesci di nevischio leggero'
      },
      lightsleetshowers_night: {
        icon: 'wi-night-alt-sleet.svg',
        en: 'Light sleet showers',
        et: 'Kerged lörtsihood',
        fi: 'Heikkoja räntäkuuroja',
        no: 'Lette sluddbyger',
        sv: 'Lätta slaskskurar',
        it: 'Rovesci di nevischio leggero'
      },
      lightsleetshowers_polartwilight: {
        icon: 'wi-day-sleet.svg',
        en: 'Light sleet showers',
        et: 'Kerged lörtsihood',
        fi: 'Heikkoja räntäkuuroja',
        no: 'Lette sluddbyger',
        sv: 'Lätta slaskskurar',
        it: 'Rovesci di nevischio leggero'
      },
      lightsnow: {
        icon: 'wi-snow.svg',
        en: 'Light snow',
        et: 'Kerge lumesadu',
        fi: 'Heikko lumisade',
        no: 'Lett snø',
        sv: 'Lätt snö',
        it: 'Neve leggera'
      },
      lightsnowandthunder: {
        icon: 'wi-snow.svg',
        en: 'Light snow and thunder',
        et: 'Kerge lumesadu ja äike',
        fi: 'Heikko lumisade ja ukkonen',
        no: 'Lett snø og torden',
        sv: 'Lätt snö och åska',
        it: 'Neve leggera e tuoni'
      },
      lightsnowshowers_day: {
        icon: 'wi-day-snow.svg',
        en: 'Light snow showers',
        et: 'Kerged lumehood',
        fi: 'Heikkoja lumikuuroja',
        no: 'Lette snøbyger',
        sv: 'Lätta snöskurar',
        it: 'Rovesci di neve leggera'
      },
      lightsnowshowers_night: {
        icon: 'wi-night-alt-snow.svg',
        en: 'Light snow showers',
        et: 'Kerged lumehood',
        fi: 'Heikkoja lumikuuroja',
        no: 'Lette snøbyger',
        sv: 'Lätta snöskurar',
        it: 'Rovesci di neve leggera'
      },
      lightsnowshowers_polartwilight: {
        icon: 'wi-day-snow.svg',
        en: 'Light snow showers',
        et: 'Kerged lumehood',
        fi: 'Heikkoja lumikuuroja',
        no: 'Lette snøbyger',
        sv: 'Lätta snöskurar',
        it: 'Rovesci di neve leggera'
      },
      lightssleetshowersandthunder_day: {
        icon: 'wi-day-sleet-storm.svg',
        en: 'Light sleet showers and thunder',
        et: 'Kerged lörtsihood ja äike',
        fi: 'Heikkoja räntäkuuroja ja ukkonen',
        no: 'Lette sluddbyger og torden',
        sv: 'Lätta slaskskurar och åska',
        it: 'Rovesci di nevischio leggero e tuoni'
      },
      lightssleetshowersandthunder_night: {
        icon: 'wi-night-alt-sleet-storm.svg',
        en: 'Light sleet showers and thunder',
        et: 'Kerged lörtsihood ja äike',
        fi: 'Heikkoja räntäkuuroja ja ukkonen',
        no: 'Lette sluddbyger og torden',
        sv: 'Lätta slaskskurar och åska',
        it: 'Rovesci di nevischio leggero e tuoni'
      },
      lightssleetshowersandthunder_polartwilight: {
        icon: 'wi-day-sleet-storm.svg',
        en: 'Light sleet showers and thunder',
        et: 'Kerged lörtsihood ja äike',
        fi: 'Heikkoja räntäkuuroja ja ukkonen',
        no: 'Lette sluddbyger og torden',
        sv: 'Lätta slaskskurar och åska',
        it: 'Rovesci di nevischio leggero e tuoni'
      },
      lightssnowshowersandthunder_day: {
        icon: 'wi-day-snow-thunderstorm.svg',
        en: 'Light snow showers and thunder',
        et: 'Kerged lumehood ja äike',
        fi: 'Heikkoja lumikuuroja ja ukkonen',
        no: 'Lette snøbyger og torden',
        sv: 'Lätta snöskurar och åska',
        it: 'Rovesci di neve leggera e tuoni'
      },
      lightssnowshowersandthunder_night: {
        icon: 'wi-night-alt-snow-thunderstorm.svg',
        en: 'Light snow showers and thunder',
        et: 'Kerged lumehood ja äike',
        fi: 'Heikkoja lumikuuroja ja ukkonen',
        no: 'Lette snøbyger og torden',
        sv: 'Lätta snöskurar och åska',
        it: 'Rovesci di neve leggera e tuoni'
      },
      lightssnowshowersandthunder_polartwilight: {
        icon: 'wi-day-snow-thunderstorm.svg',
        en: 'Light snow showers and thunder',
        et: 'Kerged lumehood ja äike',
        fi: 'Heikkoja lumikuuroja ja ukkonen',
        no: 'Lette snøbyger og torden',
        sv: 'Lätta snöskurar och åska',
        it: 'Rovesci di neve leggera e tuoni'
      },
      partlycloudy_day: {
        icon: 'wi-day-cloudy.svg',
        en: 'Partly cloudy',
        et: 'Vahelduv pilvisus',
        fi: 'Puolipilvistä',
        no: 'Delvis skyet',
        sv: 'Halvmulet',
        it: 'Parzialmente nuvoloso'
      },
      partlycloudy_night: {
        icon: 'wi-night-alt-partly-cloudy.svg',
        en: 'Partly cloudy',
        et: 'Vahelduv pilvisus',
        fi: 'Puolipilvistä',
        no: 'Delvis skyet',
        sv: 'Halvmulet',
        it: 'Parzialmente nuvoloso'
      },
      partlycloudy_polartwilight: {
        icon: 'wi-day-cloudy.svg',
        en: 'Partly cloudy',
        et: 'Vahelduv pilvisus',
        fi: 'Puolipilvistä',
        no: 'Delvis skyet',
        sv: 'Halvmulet',
        it: 'Parzialmente nuvoloso'
      },
      rain: {
        icon: 'wi-rain.svg',
        en: 'Rain',
        et: 'Vihm',
        fi: 'Sade',
        no: 'Regn',
        sv: 'Regn',
        it: 'Pioggia'
      },
      rainandthunder: {
        icon: 'wi-thunderstorm.svg',
        en: 'Rain and thunder',
        et: 'Vihm ja äike',
        fi: 'Sade ja ukkonen',
        no: 'Regn og torden',
        sv: 'Regn och åska',
        it: 'Pioggia e tuoni'
      },
      rainshowers_day: {
        icon: 'wi-day-showers.svg',
        en: 'Rain showers',
        et: 'Hoovihm',
        fi: 'Sadekuuroja',
        no: 'Regnbyger',
        sv: 'Regnskurar',
        it: 'Rovesci di pioggia'
      },
      rainshowers_night: {
        icon: 'wi-night-alt-showers.svg',
        en: 'Rain showers',
        et: 'Hoovihm',
        fi: 'Sadekuuroja',
        no: 'Regnbyger',
        sv: 'Regnskurar',
        it: 'Rovesci di pioggia'
      },
      rainshowers_polartwilight: {
        icon: 'wi-day-showers.svg',
        en: 'Rain showers',
        et: 'Hoovihm',
        fi: 'Sadekuuroja',
        no: 'Regnbyger',
        sv: 'Regnskurar',
        it: 'Rovesci di pioggia'
      },
      rainshowersandthunder_day: {
        icon: 'wi-day-storm-showers.svg',
        en: 'Rain showers and thunder',
        et: 'Hoovihm ja äike',
        fi: 'Sadekuuroja ja ukkonen',
        no: 'Regnbyger og torden',
        sv: 'Regnskurar och åska',
        it: 'Rovesci di pioggia e tuoni'
      },
      rainshowersandthunder_night: {
        icon: 'wi-night-alt-storm-showers.svg',
        en: 'Rain showers and thunder',
        et: 'Hoovihm ja äike',
        fi: 'Sadekuuroja ja ukkonen',
        no: 'Regnbyger og torden',
        sv: 'Regnskurar och åska',
        it: 'Rovesci di pioggia e tuoni'
      },
      rainshowersandthunder_polartwilight: {
        icon: 'wi-day-storm-showers.svg',
        en: 'Rain showers and thunder',
        et: 'Hoovihm ja äike',
        fi: 'Sadekuuroja ja ukkonen',
        no: 'Regnbyger og torden',
        sv: 'Regnskurar och åska',
        it: 'Rovesci di pioggia e tuoni'
      },
      sleet: {
        icon: 'wi-sleet.svg',
        en: 'Sleet',
        et: 'Lörts',
        fi: 'Räntää',
        no: 'Sludd',
        sv: 'Slask',
        it: 'Nevischio'
      },
      sleetandthunder: {
        icon: 'wi-sleet.svg',
        en: 'Sleet and thunder',
        et: 'Lörts ja äike',
        fi: 'Räntää ja ukkonen',
        no: 'Sludd og torden',
        sv: 'Slask och åska',
        it: 'Nevischio e tuoni'
      },
      sleetshowers_day: {
        icon: 'wi-day-sleet.svg',
        en: 'Sleet showers',
        et: 'Lörtsihood',
        fi: 'Räntäkuuroja',
        no: 'Sluddbyger',
        sv: 'Slaskskurar',
        it: 'Rovesci di nevischio'
      },
      sleetshowers_night: {
        icon: 'wi-night-alt-sleet.svg',
        en: 'Sleet showers',
        et: 'Lörtsihood',
        fi: 'Räntäkuuroja',
        no: 'Sluddbyger',
        sv: 'Slaskskurar',
        it: 'Rovesci di nevischio'
      },
      sleetshowers_polartwilight: {
        icon: 'wi-day-sleet.svg',
        en: 'Sleet showers',
        et: 'Lörtsihood',
        fi: 'Räntäkuuroja',
        no: 'Sluddbyger',
        sv: 'Slaskskurar',
        it: 'Rovesci di nevischio'
      },
      sleetshowersandthunder_day: {
        icon: 'wi-day-sleet-storm.svg',
        en: 'Sleet showers and thunder',
        et: 'Lörtsihood ja äike',
        fi: 'Räntäkuuroja ja ukkonen',
        no: 'Sluddbyger og torden',
        sv: 'Slaskskurar och åska',
        it: 'Rovesci di nevischio e tuoni'
      },
      sleetshowersandthunder_night: {
        icon: 'wi-night-alt-sleet-storm.svg',
        en: 'Sleet showers and thunder',
        et: 'Lörtsihood ja äike',
        fi: 'Räntäkuuroja ja ukkonen',
        no: 'Sluddbyger og torden',
        sv: 'Slaskskurar och åska',
        it: 'Rovesci di nevischio e tuoni'
      },
      sleetshowersandthunder_polartwilight: {
        icon: 'wi-day-sleet-storm.svg',
        en: 'Sleet showers and thunder',
        et: 'Lörtsihood ja äike',
        fi: 'Räntäkuuroja ja ukkonen',
        no: 'Sluddbyger og torden',
        sv: 'Slaskskurar och åska',
        it: 'Rovesci di nevischio e tuoni'
      },
      snow: {
        icon: 'wi-snow.svg',
        en: 'Snow',
        et: 'Lumesadu',
        fi: 'Lumisade',
        no: 'Snø',
        sv: 'Snö',
        it: 'Neve'
      },
      snowandthunder: {
        icon: 'wi-snow.svg',
        en: 'Snow and thunder',
        et: 'Lumesadu ja äike',
        fi: 'Lumisade ja ukkonen',
        no: 'Snø og torden',
        sv: 'Snö och åska',
        it: 'Neve e tuoni'
      },
      snowshowers_day: {
        icon: 'wi-day-snow.svg',
        en: 'Snow showers',
        et: 'Lumehood',
        fi: 'Lumikuuroja',
        no: 'Snøbyger',
        sv: 'Snöskurar',
        it: 'Rovesci di neve'
      },
      snowshowers_night: {
        icon: 'wi-night-alt-snow.svg',
        en: 'Snow showers',
        et: 'Lumehood',
        fi: 'Lumikuuroja',
        no: 'Snøbyger',
        sv: 'Snöskurar',
        it: 'Rovesci di neve'
      },
      snowshowers_polartwilight: {
        icon: 'wi-day-snow.svg',
        en: 'Snow showers',
        et: 'Lumehood',
        fi: 'Lumikuuroja',
        no: 'Snøbyger',
        sv: 'Snöskurar',
        it: 'Rovesci di neve'
      },
      snowshowersandthunder_day: {
        icon: 'wi-day-snow-thunderstorm.svg',
        en: 'Snow showers and thunder',
        et: 'Lumehood ja äike',
        fi: 'Lumikuuroja ja ukkonen',
        no: 'Snøbyger og torden',
        sv: 'Snöskurar och åska',
        it: 'Rovesci di neve e tuoni'
      },
      snowshowersandthunder_night: {
        icon: 'wi-night-alt-snow-thunderstorm.svg',
        en: 'Snow showers and thunder',
        et: 'Lumehood ja äike',
        fi: 'Lumikuuroja ja ukkonen',
        no: 'Snøbyger og torden',
        sv: 'Snöskurar och åska',
        it: 'Rovesci di neve e tuoni'
      },
      snowshowersandthunder_polartwilight: {
        icon: 'wi-day-snow-thunderstorm.svg',
        en: 'Snow showers and thunder',
        et: 'Lumehood ja äike',
        fi: 'Lumikuuroja ja ukkonen',
        no: 'Snøbyger og torden',
        sv: 'Snöskurar och åska',
        it: 'Rovesci di neve e tuoni'
      }
    }

    const days = {
      today: {
        en: 'Today',
        et: 'Täna',
        fi: 'Tänään',
        no: 'I dag',
        sv: 'Idag',
        it: 'Oggi'
      },
      tomorrow: {
        en: 'Tomorrow',
        et: 'Homme',
        fi: 'Huomenna',
        no: 'I morgen',
        sv: 'Imorgon',
        it: 'Domani'
      },
      monday: {
        en: 'Monday',
        et: 'Esmaspäev',
        fi: 'Maanantai',
        no: 'Mandag',
        sv: 'Måndag',
        it: 'Lunedì'
      },
      tuesday: {
        en: 'Tuesday',
        et: 'Teisipäev',
        fi: 'Tiistai',
        no: 'Tirsdag',
        sv: 'Tisdag',
        it: 'Martedì'
      },
      wednesday: {
        en: 'Wednesday',
        et: 'Kolmapäev',
        fi: 'Keskiviikko',
        no: 'Onsdag',
        sv: 'Onsdag',
        it: 'Mercoledì'
      },
      thursday: {
        en: 'Thursday',
        et: 'Neljapäev',
        fi: 'Torstai',
        no: 'Torsdag',
        sv: 'Torsdag',
        it: 'Giovedì'
      },
      friday: {
        en: 'Friday',
        et: 'Reede',
        fi: 'Perjantai',
        no: 'Fredag',
        sv: 'Fredag',
        it: 'Venerdì'
      },
      saturday: {
        en: 'Saturday',
        et: 'Laupäev',
        fi: 'Lauantai',
        no: 'Lørdag',
        sv: 'Lördag',
        it: 'Sabato'
      },
      sunday: {
        en: 'Sunday',
        et: 'Pühapäev',
        fi: 'Sunnuntai',
        no: 'Søndag',
        sv: 'Söndag',
        it: 'Domenica'
      }
    }

    // Set the day labels based on the current language
    document.querySelectorAll('.group-header').forEach(header => {
      const dayKey = header.textContent.trim().toLowerCase()
      if (days[dayKey]) header.textContent = days[dayKey]['{{ trmnl.plugin_settings.custom_fields_values.language }}'] || days[dayKey].en
    })

    // Find all content divs with weather data and update icons and descriptions
    document.querySelectorAll('[data-code]').forEach(contentDiv => {
      const weatherCode = contentDiv.dataset.code
      if (!weatherCode) return

      const weatherData = weather[weatherCode]
      if (!weatherData) return

      const img = contentDiv.querySelector('.weather-icon')
      if (img) img.src = `https://usetrmnl.com/images/plugins/weather/${weatherData.icon}`

      const description = contentDiv.querySelector('.weather-description')
      if (description) description.textContent = weatherData['{{ trmnl.plugin_settings.custom_fields_values.language }}'] || weatherData.en
    })
  })
</script>

<style>
  .label--inverted.group-header {
    border-radius: 0 !important;
    height: 22px !important;
    line-height: 1.25rem !important;
    text-transform: uppercase !important;
  }
  .weather-icon {
    width: 2.5rem;
  }
</style>

